/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* 
    HEADER
*/

/* TOP HEADER */

.top-header{
    height: 100px;
    padding: 20px;
}

.header-flex-container{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-size: 1.5em;  

}
.logo{
    width: 20%;
    height: 100%;
    padding: 10px;
}

nav{
    width: 60%;
    height: 100%;
    text-align: center;
    padding: 10px;
}

nav li{
    display: inline-block;
}

.login{
    width: 20%;
    height: 100%;
    text-align: end;
    padding: 10px;
}

/* BOTTOM HEADER */
.bottom-header{
    display: flex;
    justify-content: center;
    padding: 30px;
}



/* 
    DEBUG
*/

.header-flex-container > *{
    border: 2px dashed black;
}

div.header-flex-container{
    background-color: #DAA520;
}

.top-header{
    background-color: #ADD8E6;
}

.bottom-header > div{
    background-color: #EE82EE;
    height: 200px;
    width: 50%;
    border: 2px dashed black;
}

.bottom-header{
    background-color: #00008E;
}