/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.padding{
    padding: 20px 0;
}

.footer-padding{
    padding: 10px 0 30px 0;
}

.footer-padding-2{
    padding-top: 30px;
}

/* 
    FLEX
*/

.header-flex{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50px;
}

.flex{
    display:flex;
    justify-content: center;
}

.footer-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.col-5{
    width: calc((100% / 12) * 5);
    height: 200px;
}

.col-7{
    width: calc((100% / 12) * 7);
    height: 200px;
}

.col-12{
    width: calc((100% / 12) *12);
    height: 200px;
}

.col-footer{
    width: calc((100% / 12) * 8);
    height: 200px;
}
.col-single{
    width: 25%;
    height: 200px;
}
.col-double{
    width: calc((100% / 12) * 4);
    height: 200px;
}

/* 
    HEADER
*/

/* TOP HEADER */

#logo{
    padding: 10px;
    width: 20%;
}

nav{
    width: 60%;
    text-align: center;
    padding: 10px;
}

nav li{
    display: inline-block;
}

.login{
    width: 20%;
    text-align: end;
    padding: 10px;
}

/* BOTTOM HEADER */

.bottom-header{
    height: 200px;
    width: 100%;
}

/* 
    MAIN
*/



/* 
    FOOTER
*/

footer > div:first-child{
    margin-bottom: 3px;
}

/* TOP FOOTER */

.footer-2nd-flex{
    display: flex;
    
}

/*  BOTTOM FOOTER */


/* 
    DEBUG
*/

header > section:first-child{
    height: 100px;
    background-color: #ADD8E6;
}

.header-flex > *{
    border: 2px dashed black;
    background-color: #DAA520;
}

header > section:last-child{
    background-color: #00008B;
}

.flex.padding > div{
    height: 200px;
    width: 50%;
    background-color: #EE82EE;
    border: 2px dashed black;
}

main > div:nth-child(even){
    background-color: #D3D3D3;
}

.col-5{
    background-color: #FFC0CB;
    border: 2px dashed black;
}

.col-7{
    background-color: #1E90FF;
    border: 2px dashed black;
}

.col-12{
    background-color: #228B22;
    border: 2px dashed black;
}

.col-single{
    background-color: #20B2AA;
    border: 2px dashed white;
}

.col-double{
    background-color: #F08080;
    border: 2px dashed black;
}

.footer-flex{
    background-color: #7FFFD4;
}

.footer-flex > *{
    border: 2px dashed black;
}

footer > div,
footer >section {
    background-color: #23272A;
}